.gallery {
	display: flex;
  flex-wrap: wrap;
}

.gallery-item {
  flex: 1 0 8rem;
  overflow: hidden;
}

.gallery-image {
	display: block;
	width: 160px;
height: 160px;
	object-fit: cover;
  transition: transform 400ms ease-out;
  /* padding: 0; */
}

.gallery-image:hover {
	transform: scale(1.15);
}

.gallery-item-link{
  width: 67vw;
}