/* Fonts */
/* lato-300 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/lato/lato-v16-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Lato Light'), local('Lato-Light'),
       url('../fonts/lato/lato-v16-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/lato/lato-v16-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/lato/lato-v16-latin-300.woff') format('woff'), /* Modern Browsers */
       url('../fonts/lato/lato-v16-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/lato/lato-v16-latin-300.svg#Lato') format('svg'); /* Legacy iOS */
}
/* lato-700 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/lato/lato-v16-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Lato Bold'), local('Lato-Bold'),
       url('../fonts/lato/lato-v16-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/lato/lato-v16-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/lato/lato-v16-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/lato/lato-v16-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/lato/lato-v16-latin-700.svg#Lato') format('svg'); /* Legacy iOS */
}
/* lato-regular - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/lato/lato-v16-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Lato Regular'), local('Lato-Regular'),
       url('../fonts/lato/lato-v16-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/lato/lato-v16-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/lato/lato-v16-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/lato/lato-v16-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/lato/lato-v16-latin-regular.svg#Lato') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Adobe Garamond Pro Regular';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/garamond/AGaramondPro-Regular.woff') format('woff');
}
/* heading block */
.heading{
font-family: "Lato";
font-weight: 700;
line-height: 24px;
font-size: 18px;
text-transform: capitalize;
}

.heading--primary{
  color: #23254f;
}

.heading--secondary{
  color: #fff;
}

.hero__heading{
  font-size: 14px;
font-family: "A Garamond Pro”;
}

.heading--small{}

/* text block */
.text{
font-family: "Lato";
font-weight:300;
line-height: 15px;
font-size: 10px;
}

.text--primary{}

.text--secondary{
  color: #fff;
}



.fa--primary{
  color: #23254f;
}

.fa--secondary{
  color: #fff;
}



/* desktop layout */
@media screen and (min-width: 768px) {
.text{
  font-family: "Lato";
  font-weight: 300;
  line-height: 24px;
  font-size: 18px;
  }

  .hero__heading{
    font-size: 30px;
  font-family: "A Garamond Pro”;
  }
}