/* page setup */
body{
  margin: 0;
  padding: 0;
  background-color: #fff;
}

/* grid container - parent  */
.grid{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: 
  "header"
  "main"
  "footer";
  height: 100vh;
}

/* flex container  */
.header{
  grid-area: header;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between; 
  padding:5px 15px ; 
  margin: 5px 15px;
}



.main {
  grid-area: main;
  grid-template-rows:  1fr 1fr 1fr;
}


.hero{
  display: flex;
  height: 50vh;
  width: 100vw;
  background:url("../img/hero-bg.png") no-repeat center; 
  background-size: cover; 
  align-items: center;
  padding: 15px;
}

.hero__content{
  width: 50vw;
  height: 20vh;
  text-align: left;
  padding: 20px;
}

.features,
.cards {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.features {
  width: 100vw;
  padding-bottom: 40px;
}

.features__column,
.card__content{
  text-align: center;
}


.background--primary{
  background-color: #23254f;
}

.card__content--accent{
  background-color: #d9082a;
}

.background--secondary{
  background-color: #d2d7db;
}

.bread{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100vw;
}
/* flex container  */
.footer {
  grid-area: footer;
  background-color: #d2d7db;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;  
}

/* reusable elements */
/* nav block */

.header__navbar{
  font-size: 18px;
  padding-bottom: 10px;
  
}

.navbar__list {
  list-style-type: none;
  display: none;
}

.navbar__list li{
  text-align: center;
  margin: 15px auto;
}
.navbar__link,
.navbar__logo {
 text-decoration: none;
 color: #23254f;
}

.navbar__logo{

height: 5vh;
display: inline-block;
  margin-top: 10px;
  margin-left: 10px;
}

.navbar__toggle{
  position: Absolute ;
  top: 50px;
  right: 20px;
  cursor: pointer;
  color: #23254f;
  font-size: 24px;
}

.active {
  display: block;
}
